/*具体语法参考有以下网址*/
/*https://www.w3school.com.cn/css/index.asp*/

/*整体设置*/
html, body {
  font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
  font-size: 16px;/*字体大小*/
  font-weight: normal;/*加粗bold*/
  font-style: normal;/*斜体italic*/
  text-align: left;/*左对齐*/
  text-decoration: none;/*underline下划线line-through删除线*/
  line-height: 1.3em;/*行高*/
  letter-spacing: 0.0em;/*单个字母之间的间距*/
  word-spacing: 0.1em;/*单词间距*/
  word-break: break-all;/*允许切分单词*/
  word-wrap: break-word;/*允许单词切换到下一行*/
  background-color: rgb(255, 255, 255);/*背景颜色*/
  color: rgb(0, 0, 0);/*正文颜色*/
}

/*段落设置*/
p {
  margin: 0em 0em 0.4em 0 !important;/*外部间距-上右下左*/
  /*margin-top right bottom left 可以分别控制*/
  padding: 0em 0.2em 0em 0.2em;/*内部间距-上右下左*/
  /*padding-top right bottom left 可以分别控制*/
  font-size: 1em;/*字号*/
  line-height: 1.3em;/*行高*/
  text-align: left;
  text-indent: 0em;
}

/*================标题开始================*/
h1, h2, h3, h4, h5, h6 {
  font-family: "STXinWei";
  font-weight: bold;
  margin: 0.8em 0 0.4em 0;
  padding: 0;
  color: rgb(207,23,23); /*青色color: #009688;*/
}
h1 {/*一级标题：居中*/
  font-size:1.6em;
  text-align: center !important;/*文本对齐方式*/
  letter-spacing: 0.12em;
  word-spacing: 0.2em;
  border-style: outset;
  border-radius: 0.36em;
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
  color: rgb(255, 255, 255);
  /*渐变；详细内容参考头部网址*/
  background-image: linear-gradient(to right, rgb(255,255,255), rgb(235,53,53), rgb(255,255,255));
}
h2 {/*二级标题：下划线*/
  font-size: 1.50em;
  border-bottom: 0.1em solid rgb(207,23,23);
}
h3 {/*三级标题：内嵌*/
  font-size: 1.30em;
  border-radius: 0.24em;
  border-style:inset;
  border-width: 0.066em;
  width: fit-content;
  padding: 0.1em 0.28em 0.1em 0.12em !important;
}
h4{
  font-size:1.22em;
  color: rgb(36, 51, 102);
  border-style:none none inset none;
  border-width: 0.12em;
  width: fit-content;
  padding: 0em 0.12em 0.0em 0.12em !important;
}
h5{
  font-size:1.1em;
  color:black;
  text-align: center !important;
  border-bottom: 0.1em solid #ddd;
}
h6 {/*6级标题当做居中表格标题*/
  font-size:1.1em;
  text-align: center !important;
  color:black;
  margin: 0.2em 0 0.2em 0 !important;
}
/*================标题结束================*/

/*================图像开始================*/
img {
  display: block;
  margin-left:auto;/*图片水平居中*/
  margin-right:auto;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  max-width:100%;
}
figcaption {/*图片描述文字*/
  font-size: 1em;
  text-align:center;
  /* text-align:left;  */
  margin-top: 0.4em;
}
/*================图像结束================*/

/*================表格开始================*/
table {
  font-size: 0.94em;
  margin-left:auto;/*水平居中*/
  margin-right:auto;
  margin-top: 0em;
  margin-bottom: 0.6em;
  padding: 0;
  vertical-align: middle;
  border-collapse: collapse;/*单元格不分割separate分割*/
  border-spacing: 0em;/*分割距离*/
  border-top: 2px solid black;
  border-right: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 2px solid black;/*底部边界线*/
}

table tr {/*首行颜色*/
  vertical-align: middle;
  border-top: 1px solid #ccc;
  border-right: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
  background-color: white;
}

/*隔行改变行的背景色*/
table tr:nth-child(2n) {/*2n偶数 n+2大于等于2；-n+2小于等于2*/
  vertical-align: middle;
  border-top: 1px solid #ccc;
  border-right: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
  background-color: rgb(250, 250, 250);
}

table tr td {/*列设置 后代选择器；th td的属性*/
  vertical-align: middle;
  padding: 0.1em 0.5em 0.1em 0.5em; /*单元格间距设置*/
  border-top: 0px solid #ccc;
  border-right: 0px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 0px solid #ccc;
}
table tr td:nth-child(1) {
  vertical-align: middle;
  padding: 0.1em 0.5em 0.1em 0.5em; /*单元格间距设置*/
  border-top: 0px solid #ccc;
  border-right: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
}
table tr td:nth-child(n+2) {
  vertical-align: middle;
  padding: 0.1em 0.5em 0.1em 0.5em; /*单元格间距设置*/
  border-top: 0px solid #ccc;
  border-right: 0px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 0px solid #ccc;
}


/*表头的属性*/
table tr th {
  vertical-align: middle;
  padding: 0.1em 0.5em 0.1em 0.5em; /*单元格间距设置*/
  border-top: 2px solid black;
  border-right: 0px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 2px solid black;
  font-weight: bold;
  color: rgb(36, 51, 102);
  background-color: white;
}
table tr th:nth-child(1) {
  vertical-align: middle;
  padding: 0.1em 0.5em 0.1em 0.5em; /*单元格间距设置*/
  border-top: 2px solid black;
  border-right: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 2px solid black;
  font-weight: bold;
  color: rgb(36, 51, 102);
  background-color: white;
}
table tr th:nth-child(n+2) {
  vertical-align: middle;
  padding: 0.1em 0.5em 0.1em 0.5em; /*单元格间距设置*/
  border-top: 2px solid black;
  border-right: 0px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 2px solid black;
  font-weight: bold;
  color: rgb(36, 51, 102);
  background-color: white;
}

.itable table {
  font-size: 0.94em;
  margin-left:auto;/*水平居中*/
  margin-right:auto;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0;
  border-collapse: collapse;/*单元格不分割separate分割*/
  border-spacing: 0em;/*分割距离*/
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.itable table tr {
  border: 0;
  background-color: white;
}

.itable table tr:nth-child(2n) {
  border: 0;
  background-color: rgb(250, 250, 250);
}

.itable table tr td {
  border-top: 1px solid #eee;
  border-right: 0px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 0px solid #ddd;
  padding: 0.1em 0.5em 0.1em 0.5em !important; /*单元格间距设置*/
}

.itable table tr th {
  vertical-align: middle;
  padding: 0.1em 0.5em 0.1em 0.5em; /*单元格间距设置*/
  border-top: 1px solid #eee;
  border-right: 0px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 0px solid #ddd;
  font-weight: normal;
  color: white;
  background-color: rgb(53, 68, 117);
}

.itablef table {
  font-size: 0.94em;
  margin-left:auto;/*水平居中*/
  margin-right:auto;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0;
  border-collapse: collapse;/*单元格不分割separate分割*/
  border-spacing: 0em;/*分割距离*/
  border: 0;
}

.itablef table tr {
  border: 0;
  background-color: white;
}

.itablef table tr:nth-child(2n) {
  border: 0;
  background-color: white;
}

.itablef table tr th, .itablef table tr td {
  border: 0;
  padding: 0.1em 0.5em 0.1em 0.5em !important; /*单元格间距设置*/
}

.dblock {
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  /*display: inline-block; /*inline-table行内表; table-cell单元格*/
  vertical-align: middle;
}
.dblock span {
  margin: 0;
  padding: 0.1em 0.2em 0.1em 0.2em !important;
  text-align: left;
  vertical-align: middle;
  display: inline-block; /*inline-table行内表; table-cell单元格*/
  border: 1px solid  #ccc;
  border-radius: 0.14em;
  background-color: transparent;
}
/*================表格结束================*/

/*特殊字体设置*/
strong, b {/*粗体*/
  font-weight: bold;/*粗体normal bold*/
  color:rgb(202,17,33);
}
em {/*斜体*/
  font-style:italic;/*斜体*/
  color:rgb(2,64,85);
}
del {/*删除线*/
  font-style:italic;
}
strong em {/*强调的斜体*/
  font-weight: bold;
  font-style:italic;
  color:rgb(202,17,33);
}

/*分割线设置*/
hr {
  clear: both;
  margin: 0.8em 0 0.8em 0;
  padding: 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 1.5px dashed rgb(255,213,64);
}

/*超链接*/
a, aside {
	color: #1e6bb8;
	text-decoration: underline;
  word-wrap: break-word;
}

/*引用块设置*/
/*并集选择器：预格式化、块引用、短引用、无序列表、有序列表、自定义定义列表*/
pre, blockquote, q, ul, ol, dl {
  margin:0;
  padding: 0;
}

blockquote, q {
  margin: 0.2em 0em 0.4em 0em;
  padding: 0.32em 0.0em 0.02em 0.2em;
  quotes: none;
  border-left: 0.32em solid #8ecb0f;
  background-color: #FDF5CF;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}


/*================列表开始================*/
/*无序、有序列表*/
ul, ol {
  margin-bottom: 0.4em;
  padding-left: 1em;
}
/* 定义列表中的项目*/
li {
  list-style-type: disc;
  margin-bottom: 0.4em;
  padding-left: 0em;
}

li p {
  margin: 0;
}

ul ul, ul ol, ol ul, ol ol {/*二级列表*/
  margin: 0;
  padding-left: 1em;
}
ul ul, ul, ul {/*二级无序列表*/
  list-style-type: circle;
  margin-bottom: 0.2em;
}
ol ol, ul ol {/*二级有序列表*/
  list-style-type: lower-roman;
  margin-bottom: 0.2em;
}
ul ul ol, ul ol ol, ol ul ol, ol ol ol {/*三级有序列表*/
  list-style-type: lower-alpha;
}

/*自定义列表*/
dl {
  margin-bottom: 0.4em;
  padding: 0;
}

dl dt {/*自定义列表标题*/
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

dl dd {/*自定义列表内容*/
  margin: 0;
  padding-left: 1em;
}
/*================列表结束================*/


/*================代码开始================*/
code {
	font-family: var(--vscode-editor-font-family, "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace);
	font-size: 1.0em;
	line-height: 1.2em;
  color: #ED8B08; /*行内公式颜色*/
}
body.wordWrap pre {
  white-space: pre-wrap; /*自动换行*/
}

pre:not(.hljs),
pre.hljs code > div { /*>亲儿子选择器，孙子是不会选的*/
  margin: 0.2em 0em 0.1em 0em;
  padding: 0em 0em 0em 0em;/*内部间距-上右下左*/
  border: 0px solid rgb(255, 255, 255);
	border-radius: 3px;
	overflow: auto;
}

pre code {
  /*white-space: pre; /*预览模式使用，有代码框架，不自动换行*/
  white-space: pre-wrap; /*打印模式使用，自动换行*/
  tab-size: 2.8; /*tab的大小*/
  word-break: break-word;
  break-inside: auto;
  overflow: auto;
	font-family: var(--vscode-editor-font-family, "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace);
	font-size: 1.0em;
	line-height: 1.2em;

  border-radius: 3px;
  border: 0px solid rgb(255, 255, 255);
  margin: 0em 0em 0.2em 0em;
  padding: 0.34em 0.0em 0.6em 0.3em;/*内部间距-上右下左*/
  display: block !important;
  background-color: rgb(39, 40, 34);
  color:rgb(224, 235, 243);
}

/*================代码结束================*/

/*================数学公式开始================*/
.katex-display {/*块公式*/
  font-size:1em;
}
.katex
{/*行内公式*/
  padding:0em 0.2em 0em 0.2em;
}
.katex-display > .katex
{/*块公式*/
   display:inline-block;
   text-align:center;
   padding:0;
}
.katex img
{/*行内公式对应的图片*/
  display:inline-block;
  vertical-align:middle;
}


/* .MathJax-Display {
  font-size:1em;
}
.MathJax
{
  padding:0em 0.2em 0em 0.2em;
}
.MathJax-Display > .MathJax
{
   display:inline-block;
   text-align:center;
   padding:0;
}
.MathJax img
{
  display:inline-block;
  vertical-align:middle;
} */
/*================数学公式结束================*/



